@import "../../styles/abstracts/variables.module.scss";
@import "../../styles/abstracts/fonts.module.scss";

.container {
    width: 100%;
    position:  absolute;
    @media (min-width: 1200px){
      max-width: none;
    }
  }

.navbarWrapper {
  position: relative !important;
  background: black;
}

.travelSearch{
  background: white !important;
}

.destinationDetails{
    width: 70%;
    display: flex;
    border-radius: 10px;
    margin:  $space-xs auto;
    flex-direction: column;
}
.destination__name{
    // position: absolute;
    top: 50%;
    left: 45%;
    color: black;
    font-family: $volkhov;
    font-weight: $fz-xm;
}

  .content {
    text-align: center;
    font-family: $volkhov;
    color: $heading;
    max-width: 700px;
    font-weight: $fz-xm;
  }

  .cardContainer {
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .card__weather {
    position: relative;
    width: 220px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    border-radius: 10px;
    // backdrop-filter: blur(30px);
    // background-color: rgba(65, 65, 65, 0.308);
    border: none;
    cursor: pointer;
  }
  
  .city {
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: 1.2px;
    color: black;
  }
  
  .weather {
    font-weight: 500;
    font-size: 0.7em;
    letter-spacing: 1.2px;
    color: black;
  }
  
  .temp {
    font-size: 1.8em;
    color: black;
  }
  
  .minmaxContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .min,
  .max {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0px 20px;
    gap: 4px;
  }
  
  .max {
    align-items: flex-start;
    border-left: 2px solid black;
  }
  
  .maxHeading,
  .minHeading {
    font-size: 0.7em;
    font-weight: 600;
    color: black;
  }
  
  .maxTemp,
  .minTemp {
    font-size: 0.6em;
    font-weight: 500;
    color: rgb(197, 197, 197);
  }
  
  .cardContainer::before {
    width: 100px;
    height: 100px;
    content: "";
    position: absolute;
    background-color: rgb(144, 161, 255);
    z-index: -1;
    border-radius: 50%;
    left: 100px;
    top: 50px;
    transition: all 1s;
  }
  
  .cardContainer:hover::before {
    transform: translate(-50px, 50px);
  }
  
  .destination__details{
    color: red;
  }

  /* styles.css */

.card {
  position: relative;
  height: 300px;
  transition: all 0.4s;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.card_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.title{
  text-align: center;
  font-family: $volkhov;
  width: 100%;
  padding: $space-xs;
  color: white;
  transition: all 0.4s;
}
