/* 
* Variables 
*/

//Spacing 
$space-xxs : 8px;
$space-xs : 16px;
$space-s : 25px;
$space-m : 50px;
$space-l : 75px;
$space-xl : 100px;

//Colours
$white : #ffff;
$black :#000000;
$nav-item : #212832;
$banner-title :  #181E4B;
$text :#5E6282;
$orange : #DF6951;
$title :  #14183E;
$card-title : #1E1D4C;
$violet : #8A79DF;
$signup-btn : #FFF1DA;
$yellow : #f1c40f;
$gradient : #FF946D;
$box-shadow : #111;
$card-shadow :#00f1ff;

